<!DOCTYPE html>
<html lang="en">
<head>
    <title>Eat Weigh Love</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <style>

    </style>

</head>
<body>

<div class="container">
    <div class="row">
            <div class="jumbotron">
            <h1>Eat Weigh Love</h1>
            </div>
    </div>

    <div class="row ewlbuttons ">
        <div class="col-xs-12">
            <div class="btn-group">
                <button id="btnEat" tabindex="1">
                    <img src="static/sundae.png" />
                </button>
                <button id="btnWeigh" tabindex="2">
                    <img src="static/scale.png" />
                </button>
                <button id="btnLove" tabindex="3">
                    <img src="static/heart.png" />
                </button>
            </div>
        </div>

        </div>
    </div>
</div>

<div id="modalEat" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Eat</span>
            </div>
            <div class="modal-body">
                food stub
            </div>
            <div class="modal-footer">
                food footer stub
            </div>
        </div>
    </div>
</div>

<div id="modalWeigh" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Weigh</span>
            </div>
            <div class="modal-body">
                weigh stub
            </div>
            <div class="modal-footer">
                weigh footer stub
            </div>
        </div>
    </div>
</div>

<div id="modalLove" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Love</span>
            </div>
            <div class="modal-body">
                love stub
            </div>
            <div class="modal-footer">
                food footer stub
            </div>
        </div>
    </div>
</div>

<script>
$(function(w){

const btnEatClick = function(e){
    $("#modalEat").modal();
};

const btnWeighClick = function(e){
    $("#modalWeigh").modal();
};

const btnLoveClick = function(e){
    $("#modalLove").modal();
};

$("#btnEat").on("click", btnEatClick);
$("#btnWeigh").on("click", btnWeighClick);
$("#btnLove").on("click", btnLoveClick);

}(window));

</script>
</body>
</html>
